.custom-bg-color {
  background-color: #f1f3ff;
}

#btn {
  width: 100px;
  padding: 0;
  margin: 0;
  border: 0;
}

@media (max-width: 768px) {
  #offcanvas {
    width: 50%;
  }

  #btn {
    width: 180px;
  }
}

@media (max-width: 575px) {
  .btn {
    width: 120px;
  }
}
