.custom-bg-color {
  background-color: #f1f3ff;
}

@media (max-width: 768px) {
  #offcanvas {
    width: 50%;
  }

  .btn {
    width: 180px;
  }
}

@media (max-width: 575px) {
  .btn {
    width: 120px;
  }
}
